
:root {
    --font-family-primary: "Libre Franklin", Helvetica, sans-serif;
    --font-family-secondary: "Plus Jakarta Sans", Arial, sans-serif;
    --font-size-heroes: 52px;
    --font-size-headings: var(--font-size-small);
    --font-size-subheadings: var(--font-size-extra);
    --font-size-buttons: var(--font-size-medium);
    --font-size-controls: var(--font-size-extra-small);
    --font-size-extra: 36px;
    --font-size-extra-large: 28px;
    --font-size-medium-large: 24px;
    --font-size-large: 20px;
    --font-size-medium: 18px;
    --font-size-small: 16px;
    --font-size-extra-small: 14px;
    --font-weight-extra: 700;
    --font-weight-large: 600;
    --font-weight-medium: 500;
    --font-weight-small: 400;
    --font-line-height-heroes: 62px;
    --font-line-height-large: 28px;
    --font-line-height-medium: 24px;
    --font-line-height-small: 20px;
    --color-brand: rgb(2, 101, 220);
    --color-brand-alternative: rgba(244, 247, 250, 1);
    --color-bg-base: rgba(255, 255, 255, 1);
    --color-text-primary: rgba(13, 13, 21, 1);
    --color-text-secondary: rgba(42, 53, 65, 0.85);
    --color-text-secondary-alt: rgba(42, 53, 65, 0.7);
    --color-headings: rgba(15, 115, 246, 1);
    --color-brand-buttons: rgba(245, 248, 251, 1);
    --color-bg-base-invert: var(--color-text-primary);
    --color-titles: rgb(34, 34, 34);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

html {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-extra-small);
    font-weight: var(--font-weight-large);
    line-height: var(--font-line-height-medium);
    color: var(--color-text-primary);
    background-color: var(--color-bg-base);
}

.nav-menu__link {
    line-height: var(--font-line-height-small);
}

.header__search-filds::placeholder {
    font-weight: var(--font-weight-small);
    color: var(--color-text-secondary-alt);
}

.hero__title,
.catalog__heading,
.blog-details__heading,
.contact__title {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-heroes);
    line-height: var(--font-line-height-heroes);
    font-weight: var(--font-weight-extra);
    letter-spacing: -0.5px;
}

.hero__accent {
    color: var(--color-brand);
}

.hero__slogan {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-large);
    line-height: var(--font-line-height-large);
    font-weight: var(--font-weight-medium);
    color: var(--color-text-secondary);
}

.hero__buttons,
.categories__button,
.trending__card-link {
    font-size: var(--font-size-buttons);
    line-height: var(--font-line-height-large);
    background-color: var(--color-brand);
    color: var(--color-brand-buttons);
}

.hero__buttons-social {
    font-size: var(--font-size-buttons);
    line-height: var(--font-line-height-large);
    background-color: var(--color-bg-base);
    color: var(--color-text-primary);
}

.hero {
    background: linear-gradient(90deg, rgb(240, 246, 253) 44%, rgb(255, 255, 255) 100%);
}

.products__img-container {
    background-color: var(--color-brand-alternative);
}

.products__item-text {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-medium);
    color: var(--color-text-primary);
}

.categories__header,
.trending__header,
.pricing-plan__header,
.faq__header,
.blog__header,
.contact__header {
    font-size: var(--font-size-headings);
    font-weight: var(--font-weight-small);
    color: var(--color-headings);
    text-transform: uppercase;
}

.categories__title,
.trending__title,
.pricing-plan__title,
.faq__title,
.blog__title,
.contact__title {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-subheadings);
    font-weight: var(--font-weight-extra);
    line-height: 48px;
    letter-spacing: -0.5px;
    color: var(--color-titles);
}

.categories__description {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-small);
    line-height: var(--font-size-extra-large);
    color: rgba(34, 34, 34, 1);
}

.categories__cards-title,
.trending__cards-title {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-extra-large);
    font-weight: var(--font-weight-extra);
    line-height: var(--font-size-extra);
    color: var(--color-text-primary);
}

.categories__cards {
    background: rgb(244, 247, 250);
}

.categories__cards-category,
.trending__cards-category {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-small);
    color: var(--color-text-secondary);
}

.trending__numbers {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);
    color: var(--color-brand);
}

.pricing-plan__cards-header {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-extra);
    line-height: 26px;
}

.pricing-plan__time {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-small);
    color: var(--color-text-primary);
    opacity: 0.5;
}

.pricing-plan__price {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-extra);
    font-weight: var(--font-weight-extra);
    line-height: 48px;
    color: var(--color-text-primary);
}

.pricing-plan__list-items {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-small);
}

.pricing-plan__cards-link,
.faq__header-link {
    font-size: var(--font-size-buttons);
    line-height: var(--font-line-height-large);
    color: var(--color-text-primary);
}

.faq__content-title {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-extra);
    line-height: 26px;
}

.faq__content-details {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-small);
}

.blog__article-tag {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);
    color: var(--color-brand-buttons);
    background-color: var(--color-brand);
}

.blog__article-titel {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-extra-large);
    font-weight: var(--font-weight-extra);
    line-height: 36px;
    color: var(--color-text-primary);
}

.blog__article-time {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-small);
    color: var(--color-text-secondary-alt);
}

.footer__logo-description {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-small);
}

.footer__list-header {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-extra);
    line-height: 26px;
}

.footer__links {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-small);
    color: var(--color-text-secondary);
}

.newsletter__form-label {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-medium-large);
    font-weight: var(--font-weight-extra);
}

.newsletter__emal-input::placeholder {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-small);
    line-height: var(--font-line-height-medium);
    color: var(--color-text-secondary-alt);
}

.newsletter__form-button {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-large);
    line-height: var(--font-line-height-medium);
    color: var(--color-brand-buttons);
    background-color: var(--color-brand);
}

.footer__copyright-container {
    background-color: var(--color-bg-base-invert);
}

.footer__copyright-links,
.footer__copyright {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-small);
    color: rgba(231, 238, 247, 0.66);
}
