:root {
    --font-family-secondary: "Libre Franklin", Helvetica, sans-serif;
    --font-family-primary: "Plus Jakarta Sans", Arial, sans-serif;


    --font-size-heroes: 52px;
    --font-size-headings: var(--font-size-small);
    --font-size-subheadings: var(--font-size-extra);
    --font-size-buttons: var(--font-size-medium);
    --font-size-controls: var(--font-size-extra-small);


    --font-size-extra: 36px;

    --font-size-extra-large: 28px;

    --font-size-medium-large: 24px;

    --font-size-large: 20px;

    --font-size-medium: 18px;

    --font-size-small: 16px;

    --font-size-extra-small: 14px;


    --font-weight-extra: 700;

    --font-weight-large: 600;

    --font-weight-medium: 500;

    --font-weight-small: 400;


    --font-line-height-heroes: 62px;

    --font-line-hieght-regular:48px;

    --font-line-height-large: 28px;

    --font-line-height-medium: 24px;

    --font-line-height-small: 20px;


    --color-brand: rgb(2, 101, 220);
    --color-brand-alternative: rgba(244, 247, 250, 1);
    --color-bg-base: rgba(255, 255, 255, 1);
    --color-text-primary: rgba(13, 13, 21, 1);
    --color-text-secondary: rgba(42, 53, 65, 0.85);
    --color-text-secondary-alt: rgba(42, 53, 65, 0.7);
    --color-headings: rgba(15, 115, 246, 1);
    --color-brand-buttons: rgba(245, 248, 251, 1);
    --color-bg-base-invert: var(--color-text-primary);
    --color-titles: rgb(34, 34, 34);
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base styles */
body {
    font-family: var(--font-family-secondary);
    line-height: var(--font-line-hieght-regular);
    background-color: rgb(255, 255, 255);
    color: var(--color-titles);
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

p {
    margin: 0 0 0 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    padding-inline: 80px;
    max-width: 1440px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.section-gap-container {
    display: flex;
    flex-direction: column;
    gap: 120px;
}

header {
    display: flex;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 22px;
    justify-content: flex-start;
    gap: 8px;
}

.header__link-svg {
    margin-right: 24px;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__form {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.header__search-filds {
    width: 240px;
    padding: 10px 12px;
    border: 1px solid rgba(29, 54, 83, 0.17);
    border-radius: 8px;
    font-size: var(--font-size-controls);
    font-weight: var(--font-weight-small);
    line-height: var(--font-line-height-small);
}

.header__search-filds {
    width: 240px;
    padding: 10px 12px;
    border: 1px solid rgba(29, 54, 83, 0.17);
    border-radius: 8px;
    font-size: var(--font-size-controls);
    font-weight: var(--font-weight-small);
    line-height: var(--font-line-height-small);
    color: var(--color-text-secondary-alt);
}

.header__card-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: var(--color-brand);
    padding: 9px;
    width: 40px;
    height: 40px;
}

.nav-menu {
    padding-inline: 12px;
}

.nav-menu__list {
    display: flex;
    gap: 33px;
}

.nav-menu__link {
    font-weight: var(--font-weight-large);
    font-size: var(--font-size-extra-small);
    line-height: var(--font-line-height-small);
    font-family: var(--font-family-secondary);
    text-transform: capitalize;
    color: var(--color-text-primary);
}

.hero {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 36px;
    align-items: flex-start;
    max-width: none;
    padding: 0px 40px 0 80px;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 130vw;
    height: 100%;
    background: linear-gradient(90deg, rgb(240, 246, 253) 44%, rgb(255, 255, 255) 100%);
    z-index: -1;
}

.hero__text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    padding: 120px 0 0 0;
    max-width: 43%;
    margin: 0 100px 0px 0;
}

.hero__title {
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-extra);
    font-size: var(--font-size-heroes);
    line-height: var(--font-line-height-heroes);
    letter-spacing: -0.5px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.block-line {
    display: block;
}

span.hero__accent {
    color: var(--color-brand);
}

.hero__slogan {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-medium);
    line-height: var(--font-line-height-large);
    color: var(--color-text-secondary);
    margin: 0px;
}

.hero__buttons-wrap {
    display: flex;
    gap: 9px;
    flex-direction: row;
}

.hero__buttons {
    font-size: var(--font-size-medium);
    line-height: var(--font-line-height-large);
    font-weight: var(--font-weight-large);
    border-radius: 8px;
    padding: 18px 32px;
    background: var(--color-brand);
    color: var(--color-brand-buttons);
}

.hero__buttons-social {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    border-radius: 8px;
    padding: 18px 32px 18px 39px;
    display: flex;
    gap: 10px;
    align-items: center;
    background: rgb(255, 255, 255);
    margin-left: 16px;
}

figure.hero__img-container {
    padding-block: 47px 30px;
}

.products {
    display: flex;
    flex-direction: row;
    gap: 34px;
    justify-content: flex-start;
    padding-inline: 81px 80px;
}

/* to center content when the screen width is larger than 1440px */
/* ------------------------------------------------------------- */
@media (min-width: 1441px) {
    section.products {
        padding-inline: 80px;
        max-width: 1440px;
        margin: 0 auto;
    }
}
/* ---------------------------------------------------------------*/
.products__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 21px;
}

.products__img-container {
    border-radius: 20px;
    padding: 36px;
    background: var(--color-brand-alternative);
}

.products__img {
    display: block;
}

.products__item-text {
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-large);
    line-height: var(--font-line-height-large);
}

.categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 64px;
    align-items: start;
}

.categories__items {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(2, 100px 60px) 100px;
    gap: 20px;
    clip-path: inset(120px 0px 120px 0px);
    margin: -120px 0;
    padding: 0px 74px;
    position: relative;
}

.categories__item-link {
    position: relative;
}

.categories__item-link:nth-of-type(3):before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(181deg, rgba(240, 246, 253, 60%) 0%, rgba(255, 255, 255, 100%) 100%);
    z-index: 2;
    border-radius: 20px 20px 0 0;
    width: 220px;
    height: 60px;
}

.categories__item-link:nth-of-type(6):before {
    content: "";
    position: absolute;
    top: 120px;
    left: 0;
    background: linear-gradient(359deg, rgba(240, 246, 253, 60%) 0%, rgba(255, 255, 255, 100%) 100%);
    z-index: 2;
    border-radius: 0 0 20px 20px;
    width: 220px;
    height: 60px;
}

.categories__item-link:nth-of-type(1) {
    grid-column: 1;
    grid-row: 2;
}

.categories__item-link:nth-of-type(2) {
    grid-column: 1;
    grid-row: 4;
}

.categories__item-link:nth-of-type(3) {
    grid-column: 1;
    grid-row: 6;
}

.categories__item-link:nth-of-type(4) {
    grid-column: 2;
    grid-row: 5;
}

.categories__item-link:nth-of-type(5) {
    grid-column: 2;
    grid-row: 3;
}

.categories__item-link:nth-of-type(6) {
    grid-column: 2;
    grid-row: 1;
}

article.categories__cards {
    background: var(--color-brand-alternative);
    display: flex;
    gap: 16px;
    padding: 24px 24px;
    border-radius: 20px;
    flex-direction: column;
}

.categories__cards-text-wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.categories__cards-title {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-extra-large);
    font-weight: var(--font-weight-extra);
    line-height: var(--font-size-extra);
    color: var(--color-text-primary);
    margin: 0;
}

.categories__cards-category-wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.categories__cards-category {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-small);
    color: var(--color-text-secondary);
    line-height: var(--font-line-height-medium);
    margin: 0;
}

.categories__cards-category:nth-of-type(1)::after {
    content: "·";
    display: inline-block;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-small);
    color: var(--color-text-secondary);
    line-height: var(--font-line-height-medium);
    padding-inline: 9px;
}

.categories__text-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    margin-top: 78px;
}

.categories__header {
    font-size: var(--font-size-headings);
    font-weight: var(--font-weight-small);
    line-height: var(--font-line-height-medium);
    color: var(--color-headings);
    text-transform: uppercase;
}

.categories__title {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-subheadings);
    font-weight: var(--font-weight-extra);
    line-height: var(--font-line-hieght-regular);
    letter-spacing: -0.5px;
    max-width: 428px;
}

.categories__description {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-small);
    line-height: var(--font-size-extra-large);
    min-width: 457px;
}

.categories__button {
    margin-top: 16px;
    font-size: var(--font-size-buttons);
    line-height: var(--font-line-height-large);
    line-height: var(--font-line-height-large);
    background-color: var(--color-brand);
    color: var(--color-brand-buttons);
    padding: 18px 32px;
    border-radius: 8px;
}

.trending__text-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.trending__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.trending__header {
    font-size: var(--font-size-headings);
    line-height: var(--font-line-height-medium);
    font-weight: var(--font-weight-small);
    color: var(--color-headings);
    text-transform: uppercase;
    margin: 0;
}

.trending__title {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-subheadings);
    font-weight: var(--font-weight-extra);
    line-height: var(--font-line-hieght-regular);
    letter-spacing: -0.5px;
    color: var(--color-titles);
    margin: 0;
}

.trending__buttons-wrap {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.trending__button-prev,
.trending__button-next {
    width: 64px;
    height: 64px;
    border-radius: 8px;
    border: 2px solid rgba(29, 54, 83, 0.17);
    background-color: rgb(255 255 255);
    padding: 18px 18px;
}

.trending__button-next .trending__button-svg {
    transform: rotate(180deg);
}

.trending {
    width: 100vw;
}

.trending__cards-wrap {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: 48px;
    align-items: flex-start;
    justify-content: flex-start;
}

.trending__cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    justify-content: flex-start;
}

.trending__cards-svg {
    box-sizing: content-box;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    border-radius: 0 20px 0 20px;
    background-color: var(--color-brand);
    padding: 16px;
}

.trending__cards-image {
    transform: scaleX(1.075);
    object-fit: cover;
    object-position: -11.5px;
    clip-path: inset(0px 11px round 20px);
}

.trending__cards:nth-of-type(2) .trending__cards-image {
    object-position: -10px;
}

.trending__cards:nth-of-type(3) .trending__cards-image {
    object-position: -9px;
}

.trending__cards:nth-of-type(4) .trending__cards-image {
    object-position: 16px;
    transform: scaleX(1.25);
    clip-path: inset(-1px 31px round 20px);
}

.trending__cards-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 8px;
}

.trending__cards-title {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-extra-large);
    font-weight: var(--font-weight-extra);
    line-height: var(--font-size-extra);
    color: var(--color-text-primary);
    margin: 0;
}

.trending__price {
    margin: 0;
}

.trending__numbers {
    display: block;
    line-height: var(--font-line-height-medium);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);
    color: var(--color-brand);
    margin-top: 4px;
}

.trending__cards-description {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: max-content;
}

.trending__cards-category {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-small);
    line-height: var(--font-line-height-medium);
    color: var(--color-text-secondary);
}

.trending__cards-button-wrap {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: 48px;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1440px;
    justify-content: flex-start;
    overflow: hidden;
}

.trending__card-link {
    padding: 18px 78px;
}

.trending__cards-button-wrap {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 2;
    margin-top: 104px;
}

.trending__card-link {
    padding: 18px 78px;
    border-radius: 8px;
    background-color: var(--color-brand);
    color: var(--color-brand-buttons);
    font-weight: var(--font-weight-large);
    font-size: var(--font-size-medium);
    line-height: var(--font-line-height-large);
}

.trending__cards-category:nth-of-type(1)::after {
    content: "·";
    display: inline-block;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-small);
    color: var(--color-text-secondary);
    line-height: var(--font-line-height-medium);
    padding-inline: 9px;
}

