:root {
    --font-family-secondary: "Libre Franklin", Helvetica, sans-serif;
    --font-family-primary: "Plus Jakarta Sans", Arial, sans-serif;


    --font-size-heroes: 52px;
    --font-size-headings: var(--font-size-small);
    --font-size-subheadings: var(--font-size-extra);
    --font-size-buttons: var(--font-size-medium);
    --font-size-controls: var(--font-size-extra-small);


    --font-size-extra: 36px;

    --font-size-extra-large: 28px;

    --font-size-medium-large: 24px;

    --font-size-large: 20px;

    --font-size-medium: 18px;

    --font-size-small: 16px;

    --font-size-extra-small: 14px;


    --font-weight-extra: 700;

    --font-weight-large: 600;

    --font-weight-medium: 500;

    --font-weight-small: 400;


    --font-line-height-heroes: 62px;

    --font-line-hieght-regular:48px;

    --font-line-height-large: 28px;

    --font-line-height-medium: 24px;

    --font-line-height-small: 20px;


    --color-brand: rgb(2, 101, 220);
    --color-brand-alternative: rgba(244, 247, 250, 1);
    --color-bg-base: rgba(255, 255, 255, 1);
    --color-text-primary: rgba(13, 13, 21, 1);
    --color-text-secondary: rgba(42, 53, 65, 0.85);
    --color-text-secondary-alt: rgba(42, 53, 65, 0.7);
    --color-headings: rgba(15, 115, 246, 1);
    --color-brand-buttons: rgba(245, 248, 251, 1);
    --color-bg-base-invert: var(--color-text-primary);
    --color-titles: rgb(34, 34, 34);
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base styles */
body {
    font-family: var(--font-family-secondary);
    line-height: var(--font-line-hieght-regular);
    background-color: rgb(255, 255, 255);
    color: var(--color-titles);
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

p {
    margin: 0 0 0 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    padding-inline: 80px;
    max-width: 1440px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.section-gap-container {
    display: flex;
    flex-direction: column;
    gap: 120px;
}

header {
    display: flex;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 22px;
    justify-content: flex-start;
    gap: 8px;
}

.header__link-svg {
    margin-right: 24px;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__form {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.header__search-filds {
    width: 240px;
    padding: 10px 12px;
    border: 1px solid rgba(29, 54, 83, 0.17);
    border-radius: 8px;
    font-size: var(--font-size-controls);
    font-weight: var(--font-weight-small);
    line-height: var(--font-line-height-small);
    color: var(--color-text-secondary-alt);
}

.header__card-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: var(--color-brand);
    padding: 9px;
    width: 40px;
    height: 40px;
}

.nav-menu {
    padding-inline: 12px;
}

.nav-menu__list {
    display: flex;
    gap: 33px;
    align-items: center;
}

.nav-menu__link {
    font-weight: var(--font-weight-large);
    font-size: var(--font-size-extra-small);
    line-height: var(--font-line-height-small);
    font-family: var(--font-family-secondary);
    text-transform: capitalize;
    color: var(--color-text-primary);
}

.hero {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 36px;
    align-items: flex-start;
    max-width: none;
    padding: 0px 40px 0 80px;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 130vw;
    height: 100%;
    background: linear-gradient(90deg, rgb(240, 246, 253) 44%, rgb(255, 255, 255) 100%);
    z-index: -1;
}

.hero__text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    padding: 120px 0 0 0;
    max-width: 43%;
    margin: 0 100px 0px 0;
}

.hero__title {
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-extra);
    font-size: var(--font-size-heroes);
    line-height: var(--font-line-height-heroes);
    letter-spacing: -0.5px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.block-line {
    display: block;
}

span.hero__accent {
    color: var(--color-brand);
}

.hero__slogan {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-medium);
    line-height: var(--font-line-height-large);
    color: var(--color-text-secondary);
    margin: 0px;
}

.hero__buttons-wrap {
    display: flex;
    gap: 9px;
    flex-direction: row;
}

.hero__buttons {
    font-size: var(--font-size-medium);
    line-height: var(--font-line-height-large);
    font-weight: var(--font-weight-large);
    border-radius: 8px;
    padding: 18px 32px;
    background: var(--color-brand);
    color: var(--color-brand-buttons);
}

.hero__buttons-social {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    border-radius: 8px;
    padding: 18px 32px 18px 39px;
    display: flex;
    gap: 10px;
    align-items: center;
    background: rgb(255, 255, 255);
    margin-left: 16px;
}

figure.hero__img-container {
    padding-block: 47px 30px;
}

.products {
    display: flex;
    flex-direction: row;
    gap: 34px;
    justify-content: flex-start;
    padding-inline: 81px 80px;
}

/* to center content when the screen width is larger than 1440px */
/* ------------------------------------------------------------- */
@media (min-width: 1441px) {
    section.products {
        padding-inline: 80px;
        max-width: 1440px;
        margin: 0 auto;
    }
}
/* ---------------------------------------------------------------*/
.products__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 21px;
}

.products__img-container {
    border-radius: 20px;
    padding: 36px;
    background: var(--color-brand-alternative);
}

.products__img {
    display: block;
}

.products__item-text {
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-large);
    line-height: var(--font-line-height-large);
}

.categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 64px;
    align-items: start;
}

.categories__items {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(2, 100px 60px) 100px;
    gap: 20px;
    clip-path: inset(120px 0px 120px 0px);
    margin: -120px 0;
    padding: 0px 74px;
    position: relative;
}

.categories__item-link {
    position: relative;
}

.categories__item-link:nth-of-type(3):before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(181deg, rgba(240, 246, 253, 60%) 0%, rgba(255, 255, 255, 100%) 100%);
    z-index: 2;
    border-radius: 20px 20px 0 0;
    width: 220px;
    height: 60px;
}

.categories__item-link:nth-of-type(6):before {
    content: "";
    position: absolute;
    top: 120px;
    left: 0;
    background: linear-gradient(359deg, rgba(240, 246, 253, 60%) 0%, rgba(255, 255, 255, 100%) 100%);
    z-index: 2;
    border-radius: 0 0 20px 20px;
    width: 220px;
    height: 60px;
}

.categories__item-link:nth-of-type(1) {
    grid-column: 1;
    grid-row: 2;
}

.categories__item-link:nth-of-type(2) {
    grid-column: 1;
    grid-row: 4;
}

.categories__item-link:nth-of-type(3) {
    grid-column: 1;
    grid-row: 6;
}

.categories__item-link:nth-of-type(4) {
    grid-column: 2;
    grid-row: 5;
}

.categories__item-link:nth-of-type(5) {
    grid-column: 2;
    grid-row: 3;
}

.categories__item-link:nth-of-type(6) {
    grid-column: 2;
    grid-row: 1;
}

article.categories__cards {
    background: var(--color-brand-alternative);
    display: flex;
    gap: 16px;
    padding: 24px 24px;
    border-radius: 20px;
    flex-direction: column;
}

.categories__cards-text-wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.categories__cards-title {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-extra-large);
    font-weight: var(--font-weight-extra);
    line-height: var(--font-size-extra);
    color: var(--color-text-primary);
    margin: 0;
}

.categories__cards-category-wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.categories__cards-category {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-small);
    color: var(--color-text-secondary);
    line-height: var(--font-line-height-medium);
    margin: 0;
}

.categories__cards-category:nth-of-type(1)::after {
    content: "·";
    display: inline-block;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-small);
    color: var(--color-text-secondary);
    line-height: var(--font-line-height-medium);
    padding-inline: 9px;
}

.categories__text-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    margin-top: 78px;
}

.categories__header {
    font-size: var(--font-size-headings);
    font-weight: var(--font-weight-small);
    line-height: var(--font-line-height-medium);
    color: var(--color-headings);
    text-transform: uppercase;
}

.categories__title {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-subheadings);
    font-weight: var(--font-weight-extra);
    line-height: var(--font-line-hieght-regular);
    letter-spacing: -0.5px;
    max-width: 428px;
}

.categories__description {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-small);
    line-height: var(--font-size-extra-large);
    min-width: 457px;
}

.categories__button {
    margin-top: 16px;
    font-size: var(--font-size-buttons);
    line-height: var(--font-line-height-large);
    line-height: var(--font-line-height-large);
    background-color: var(--color-brand);
    color: var(--color-brand-buttons);
    padding: 18px 32px;
    border-radius: 8px;
}

.trending__text-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.trending__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.trending__header {
    font-size: var(--font-size-headings);
    line-height: var(--font-line-height-medium);
    font-weight: var(--font-weight-small);
    color: var(--color-headings);
    text-transform: uppercase;
    margin: 0;
}

.trending__title {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-subheadings);
    font-weight: var(--font-weight-extra);
    line-height: var(--font-line-hieght-regular);
    letter-spacing: -0.5px;
    color: var(--color-titles);
    margin: 0;
}

.trending__buttons-wrap {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.trending__button-prev,
.trending__button-next {
    width: 64px;
    height: 64px;
    border-radius: 8px;
    border: 2px solid rgba(29, 54, 83, 0.17);
    background-color: rgb(255 255 255);
    padding: 18px 18px;
}

.trending__button-next .trending__button-svg {
    transform: rotate(180deg);
}

.trending {
    width: 100vw;
}

.trending__cards-wrap {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: 48px;
    align-items: flex-start;
    justify-content: flex-start;
}

.trending__cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    justify-content: flex-start;
}

.trending__cards-svg {
    box-sizing: content-box;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    border-radius: 0 20px 0 20px;
    background-color: var(--color-brand);
    padding: 16px;
}

.trending__cards-image {
    transform: scaleX(1.075);
    object-fit: cover;
    object-position: -11.5px;
    clip-path: inset(0px 11px round 20px);
}

.trending__cards:nth-of-type(2) .trending__cards-image {
    object-position: -10px;
}

.trending__cards:nth-of-type(3) .trending__cards-image {
    object-position: -9px;
}

.trending__cards:nth-of-type(4) .trending__cards-image {
    object-position: 16px;
    transform: scaleX(1.25);
    clip-path: inset(-1px 31px round 20px);
}

.trending__cards-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 8px;
}

.trending__cards-title {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-extra-large);
    font-weight: var(--font-weight-extra);
    line-height: var(--font-size-extra);
    color: var(--color-text-primary);
    margin: 0;
}

.trending__price {
    margin: 0;
}

.trending__numbers {
    display: block;
    line-height: var(--font-line-height-medium);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);
    color: var(--color-brand);
    margin-top: 4px;
}

.trending__cards-description {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: max-content;
}

.trending__cards-category {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-small);
    line-height: var(--font-line-height-medium);
    color: var(--color-text-secondary);
}

.trending__cards-button-wrap {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: 48px;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1440px;
    justify-content: flex-start;
    overflow: hidden;
}

.trending__card-link {
    padding: 18px 78px;
}

.trending__cards-button-wrap {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 2;
    margin-top: 104px;
}

.trending__card-link {
    padding: 18px 78px;
    border-radius: 8px;
    background-color: var(--color-brand);
    color: var(--color-brand-buttons);
    font-weight: var(--font-weight-large);
    font-size: var(--font-size-medium);
    line-height: var(--font-line-height-large);
}

.trending__cards-category:nth-of-type(1)::after {
    content: "·";
    display: inline-block;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-small);
    color: var(--color-text-secondary);
    line-height: var(--font-line-height-medium);
    padding-inline: 9px;
}

.pricing-plan__text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}

.pricing-plan__header {
    color: var(--color-headings);
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-headings);
    font-weight: var(--font-weight-small);
    line-height: var(--font-line-height-medium);
    letter-spacing: 0px;
}

.pricing-plan__title {
    color: rgb(34, 34, 34);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-subheadings);
    font-weight: var(--font-weight-extra);
    line-height: var(--font-line-hieght-regular);
    letter-spacing: -0.5px;    
}

.pricing-plan__items {
    display: flex;
    gap: 16px;
    margin-top: 80px;
    justify-content: center;
}

.pricing-plan__cards {
    display: flex;
    padding: 31px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border: 1px solid #d32f2f;
    border-radius: 20px;
}

.pricing-plan__cards-header {
    color: var(--color-text-primary);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-extra);
    line-height: 26px;
}

.pricing-plan__cards-price {
    margin-block-end: 6px;
}

.pricing-plan__price {
    color: var(--color-text-primary);
    font-family: Plus Jakarta Sans;
    font-size: var(--font-size-extra);
    font-weight: var(--font-weight-extra);
    line-height: var(--font-line-hieght-regular);
    letter-spacing: -0.5px;
}

.pricing-plan__time {
    color: rgb(13, 13, 21, 0.5);
    font-family: Libre Franklin;
    font-size: var(--font-size-headings);
    font-weight: var(--font-weight-small);
    line-height: var(--font-line-height-medium);
}

.pricing-plan__content-list {
    padding-top: 42px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.pricing-plan__list-items {
    position: relative;
    padding-left: 32px;
    line-height: var(--font-line-height-medium);
}

.pricing-plan__list-items::before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background: url('/img/pricing_plan_marker.svg') no-repeat center;
    background-size: contain;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.pricing-plan__cards-link {
    box-sizing: border-box;
    padding: 16px;
    border-radius: 8px;
    background-color: #FFFFFF;
    border: 2px solid rgba(29, 54, 83, 0.17);
    align-self: center;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-large);
    line-height: var(--font-line-height-large);
    width: 352px;
    text-align: center;
}

.faq {
    display: flex;
    gap: 206px;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 3px;
}

.faq__text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-top: 197px;
    min-width: fit-content;
}

.faq__header {
    font-size: var(--font-size-headings);
    line-height: var(--font-line-height-medium);
    font-weight: var(--font-weight-small);
    color: var(--color-headings);
    text-transform: uppercase;
}

.faq__title {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-subheadings);
    font-weight: var(--font-weight-extra);
    line-height: var(--font-line-hieght-regular);
    letter-spacing: -0.5px;
    color: var(--color-titles);
    margin-bottom: 15px;
}

.faq__header-link {
    border-radius: 8px;
    background-color: #FFFFFF;
    border: 2px solid rgba(29, 54, 83, 0.17);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-large);
    line-height: var(--font-line-height-large);
    text-align: center;
    padding: 17px;
    width: 222px;
    height: 64px;
}

.faq__content {
    display: flex;
    padding-top: 0px;
    max-width: 619px;
    flex-direction: column;
    gap: 18px;
}

.faq__content-item {
    border-radius: 10px;
    box-shadow: 0 0 0 2px #00ff26;
    padding-top: 27px;
    padding-left: 24px;
    padding-bottom: 24px;
    margin-bottom: 0px;
}

.faq__content-title {
    color: rgb(13, 13, 21);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-extra);
    line-height: 26px;
    list-style: none;
}

.faq__content-details {
    font-family: Libre Franklin;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-small);
    line-height: var(--font-line-height-medium);
    padding: 20px 24px 0px 0px;
}

.blog {
    width: 100vw;
}

.blog__text-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.blog__title {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-subheadings);
    font-weight: var(--font-weight-extra);
    line-height: var(--font-line-hieght-regular);
    letter-spacing: -0.5px;
    color: var(--color-titles);
}

.blog__title-link {
    color: var(--color-brand);
    font-size: var(--font-size-small);
    font-weight: 590;
    line-height: var(--font-line-height-medium);
    padding-right: 29px;
}

.blog__articles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 48px;
    column-gap: 32px;
    row-gap: 31px;
}

.blog__article {
    position: relative;
}

.blog__article-tag {
    display: inline-block;
    position: absolute;
    z-index: 1;
    right: 16px;
    top: 16px;
    color: rgb(245, 248, 251);
    font-family: Libre Franklin;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    border-radius: 100px;
    background: rgb(2, 101, 220);
    height: 40px;
    padding: 8px 16px;
}

.blog__article:nth-of-type(1) {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

.blog__article-thumbnail {
    clip-path: inset(0px 0px 0px 0px round 20px);
}

.blog__article-titel {
    margin-top: 6px;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-extra-large);
    font-weight: var(--font-weight-extra);
    line-height: var(--font-size-extra);
    color: var(--color-bg-base-invert);
}

.blog__article-time {
    display: block;
    font-size: var(--font-size-headings);
    font-weight: var(--font-weight-small);
    line-height: var(--font-line-height-medium);
    color: var(--color-text-secondary-alt);
    margin-top: 8px;
}

.blog__article:nth-of-type(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}


.blog__article:nth-of-type(2) .blog__article-thumbnail {
    transform: scaleY(1.45);
    clip-path: inset( 45px 0px 45px 0px round 20px);
}

.blog__article:nth-of-type(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.blog__article:nth-of-type(3) .blog__article-thumbnail {
    transform: scaleY(1.62);
    clip-path: inset( 55px 0px 55px 0px round 20px);
}

.footer {
    margin-top: 120px;
}

.footer__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__logo-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 320px;
}

.footer__logo {
        margin-top: 2px;
        transform: scaleX(1.18);
        height: 52px;
}

.footer__logo-description {
    color: var(--color-text-primary);
    font-size: var(--font-size-headings);
    font-weight: var(--font-weight-small);
    line-height: var(--font-line-height-medium);
}

.footer__links-sections {
    gap: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__links-lists {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer__links-lists:first-of-type {
    padding-right: 1px;
}

.footer__list-header {
    color: var(--color-text-primary);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-extra);
    line-height: 26px;
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer__links-lists-items {
    color: var(--color-text-secondary);
    font-family: Libre Franklin;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-small);
    line-height: var(--font-line-height-medium);
}

.newsletter {
    display: flex;
    margin-top: 72px;
    flex-direction: row;
    justify-content: space-between;
}

.footer__social-media-list {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
}

.footer__social-media-item {
    border: 2px solid rgb(255 0 0);
    border-radius: 8px;
    width: 64px;
    height: 64px;
    align-content: flex-end;
    padding-inline: 18px;
}

.newsletter__form {
    display: flex;
    flex-direction: row;
}

.newsletter__form-label {
    display: inline-block;
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-extra);
    font-size: 24px;
    line-height: 32px;
    max-width: 233px;
}

.newsletter__emal-input {
    color: var(--color-text-secondary-alt);
    width: 260px;
    height: 64px;
    border-radius: 8px;
    border-color: rgba(29, 54, 83, 0.17);
    font-weight: var(--font-weight-small);
    font-size: var(--font-size-small);
    line-height: var(--font-line-height-medium);
    padding: 17px;
    margin-left: 9px;
}

.newsletter__form-button {
    max-width: 157px;
    width: 100%;
    margin-left: 8px;
    padding: 23px 30px;
    background-color: var(--color-brand);
    border-radius: 8px;
    border: none;
    color: var(--color-brand-buttons);
}

.footer__copyright-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; 
    width: 100vw;
    background-color: var(--color-bg-base-invert);
    z-index: -1;
}

.footer__copyright-container {
    position: relative;
    padding-top: 24px;
    height: 72px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 55px;
    padding-inline: 80px;
}

.footer__copyright-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 8px;
}

.footer__copyright-item {
    color: rgba(231, 238, 247, 0.66);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-small);
    line-height: var(--font-line-height-medium);
}

.footer__copyright {
    color: rgba(231, 238, 247, 0.66);
    font-size: var(--font-size-headings);
    font-weight: var(--font-weight-small);
    line-height: var(--font-line-height-medium);
}

.footer__main-wrap {
    padding-block: 64px 80px;
    padding-inline: 80px;
}

.catalog_main {
    display: grid;
    grid-template-areas:
        "heading heading"
        "sidefilters content";
    grid-template-columns: 217px auto;
    grid-template-rows: 1fr;
    margin: 0 auto;
    column-gap: 24px;
    padding-inline: 80px;
    margin-inline: auto;
    max-width: min-content;
}

.catalog {
    grid-area: heading;
    background-image: url(/);
    background-size: 100% auto;
    background-attachment: local;
}

.catalog__heading {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-heroes);
    font-weight: var(--font-weight-extra);
    line-height: var(--font-line-height-heroes);
    letter-spacing: -0.5px;
    margin: 0;
    padding: 64px 0 100px 0;
    white-space: pre-line;
}

.side-filters__form-price,
.side-filters__form-style,
.side-filters__form-format,
.side-filters__form-categories {
    margin: 0;
    padding: 0;
    border: none;
    margin-bottom: 42px;
}

.side-filters__form-style-price,
.side-filters__form-style-tittle,
.side-filters__form-format-tittle,
.side-filters__form-categories-tittle {
    color: var(--color-text-primary);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-medium-large);
    font-weight: var(--font-weight-extra);
    line-height: var(--color-bg-base);
    letter-spacing: 0px;
}

.side-filters__style-wrap,
.side-filters__format-container,
.side-filters__categories-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 26px;
}

.side-filters__style-toggle,
.side-filters__format-radio,
.side-filters__categories-check-box {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.side-filters__style-toggle-label,
.side-filters__format-radio-label,
.side-filters__format-radio-label,
.side-filters__categories-check-label {
    color: var(--color-text-primary);
    font-size: var(--font-size-controls);
    font-weight: var(--font-weight-small);
    line-height: var(--font-line-height-small);
    letter-spacing: 0px;
    padding-left: 8px;
}

.side-filters__form-range-wrap {
    display: flex;
    flex-direction: row;
}

.side-filters__form-range-values-wrap {
    display: flex;
    justify-content: space-between;
}

.side-filters__form-range-value {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-small);
    line-height: var(--font-line-height-medium);
    letter-spacing: 0px;
}

.side-filters__form-reset {
    color: var(--color-text-primary);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-large);
    line-height: var(--font-line-height-medium);
    letter-spacing: 0px;
    width: 217px;
    height: 40px;
    margin-top: 66px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 2px solid rgba(29, 54, 83, 0.17);
    border-radius: 8px;
    padding: 8px 20px 8px 20px;
}

.content {
    display: flex;
    flex-direction: column;
}

.content__filters-buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.content__filters-view-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.content__filters-select-input {
    width: 156px;
    height: 40px;
    display: flex;
    box-sizing: border-box;
    border: 1px solid rgba(29, 54, 83, 0.17);
    border-radius: 8px;
    color: var(--color-text-primary);
    font-size: var(--font-size-headings);
    font-weight: var(--font-weight-large);
    line-height: var(--font-line-height-medium);
    align-items: center;
    gap: 8px;
    appearance: none;
    flex-direction: row;
    justify-content: center;
    padding: 8px 20px 8px 20px;
}

.content__filters-select-item {
    border: 1px solid rgba(29, 54, 83, 0.17);
    border-radius: 8px;
    color: var(--color-text-primary);
    font-size: var(--font-size-headings);
    font-weight: var(--font-weight-large);
    line-height: var(--font-line-height-medium);
}

.content__view {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 8px;
    align-items: center;
}

.content__filter-results {
    padding-right: 16px;
    color: rgb(13, 13, 21);
    font-family: Libre Franklin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.content__view-button {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: var(--color-brand);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.content__tags-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 8px;
}

.content__tag-item {
    padding: 6px 12px 7px 12px;
    box-shadow: 0 0 1px rgba(29, 54, 83, 0.17);
    border-radius: 8px;
    color: rgb(13, 13, 21);
    font-family: Libre Franklin;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    height: 32px;
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
}

.content__tag-button {
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content__product-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr) auto;
    gap: 32px;
    margin-top: 48px;
}

.content__card-link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

img.content__card-preview {
    height: 260px;
    object-fit: cover;
    border-radius: 20px;
}

h2.content__card-title {
    color: rgb(13, 13, 21);
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0px;
}

.content__card-description {
    display: flex;
    max-width: 100%;
}

.content__cards-category {
    color: rgba(42, 53, 65, 0.85);
    font-family: Libre Franklin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

.content__cards-category:nth-of-type(1)::after {
    content: "·";
    display: inline-block;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-small);
    color: var(--color-text-secondary);
    line-height: var(--font-line-height-medium);
    padding-inline: 3.5px;
}

.content__price-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 12px;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}

.content__price {
    color: rgb(13, 13, 21);
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0px;
}

.content__buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

.content__button {
    border: 2px solid rgba(39, 52, 68, 0.55);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 40px;
    height: 40px;
}

.content__button-cart {
    border: 2px solid rgba(39, 52, 68, 0.55);
    border-radius: 8px;
    padding: 12px;
    width: 40px;
    height: 40px;
}

.content__action-button {
    color: rgb(13, 13, 21);
    font-family: Libre Franklin;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 30px;
    width: fit-content;
    margin-top: 16px;
    margin-inline: auto;
    border: 2px solid rgba(29, 54, 83, 0.17);
    border-radius: 8px;
}



